{% macro post_card_macro(post) %}

<div class="card" style="width: 18rem">
  <img
    src="{{post.image_url}}"
    class="card-img-top"
    alt="{{post.post_name}} Image"
  />
  <div class="card-body">
    <h5 class="card-title">{{post.post_name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{post.genre}}</h6>
    <p class="card-text">{{post.content}}</p>
  </div>
  <div class="card-footer text-muted">
    <p>{{post.creator_name}}</p>
    <p>{{post.creator_email}}</p>
  </div>
</div>

{% endmacro %}

<!-- ////////////////////////////////
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
//////////////////////////////// -->
